.article-button{
  display: block;
  margin: auto;
  text-transform: uppercase;
  border: solid 0.1rem #ED2D66;
  padding: 1rem 2.5rem;
  background: transparent;
  text-decoration: none;
  color: #ED2D66;
}
.submit-button{
  display: block;
  background-color: white;
  margin-top: 1rem;

  text-transform: uppercase;
  border: solid 0.1rem #ED2D66;
  padding: 0.3rem 4rem;
  text-decoration: none;
  color: #ED2D66;
}